HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
performance_improvements250425-1.md
performance_improvements250425.md
performance_improvements250426-1.md
performance_improvements250426-2.md
performance_improvements250426-3.md
performance_improvements250426-4.md
performance_improvements250426-5.md
performance_improvements250426-6.md
start-kafka.bat
stop-kafka.bat
gradle.properties
docker-compose-kafka.yml
도커/카프카/docker-compose.yml
도커/소나mysql/docker-compose.yml
docs/kafka-integration.md
